@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.cadastro-container {
  background-color: rgb(5, 44, 25);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.cadastro-box {
  background-color: #54448b;
  padding: 25px 30px;
  border-radius: 15px;
  width: 360px; /* um pouco menor */
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  box-sizing: border-box;
}

.cadastro-title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 42px; /* menor que o login */
  text-align: center;
  margin-bottom: 20px;
}

.cadastro-label {
  font-size: 13px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 4px;
}

.cadastro-input {
  height: 28px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
  margin-bottom: 8px;
}

.cadastro-button {
  background: linear-gradient(135deg, #f7fa34 0%, #e0ee24 100%);
  color: rgb(0, 0, 0);
  border: none;
  height: 38px;
  border-radius: 10px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 13px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 15px;
}

.social-login {
  text-align: center;
  font-size: 13px;
  margin-top: 5px;
}

.social-text {
  margin-bottom: 8px;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-bottom: 8px;
}

.icons img {
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.signup-text {
  font-size: 11px;
}
